# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code / IDEs
.vscode/
.idea/

# SQLite DB (if you're okay regenerating)
*.sqlite
