# Local Models and Weights
Agent/*_weights/
Agent/Qwen*/
Agent/Gemma*/
Agent/merged_*/
merged_*/
*.bin
*.gguf
*.onnx

# Data and History
chat_store/
Agent/chat_store_private.json

# Docker and DB
docker/data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env
.env*
!.env.example

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code / IDEs
.vscode/
.idea/
